    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        background: rgb(238, 174, 202);
        background: linear-gradient(135deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        width: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-content: center;
        /* text-align: center; */
        padding: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }
    
    .container .info .input {
        display: block;
    }
    
    .container .info .input.name {
        display: inline-block;
    }
    
    .container .info .input>input {
        width: 60wv;
        height: 40px;
        padding: 5px;
        font-size: 20px;
        margin: 10px 0;
    }
    
    .container .info .input.radio>span {
        text-align: center;
        margin-left: 20px;
    }
    
    .container .info .input.radio>input {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px 0 20px;
    }